<!-- search -->
<div class="row">
    <div class="col">
        <div class="input-group input-group-lg mb-3">
            <span class="input-group-text" id="searchIcon">
                <fa-icon class="text-primary" [icon]="faSearch"></fa-icon>
            </span>
            <input type="text" class="form-control" placeholder="Search character" aria-label="Search character"
                aria-describedby="searchIcon" (keyup)="onSearch($event)" [disabled]="initialLoad">
        </div>
    </div>
</div>

<!-- not found -->
<div class="row" *ngIf="notFound">
    <div class="col">
        <p class="text-center text-muted text">Not Found</p>
    </div>
</div>

<!-- loader -->
<div class="row" *ngIf="!characters.length && !notFound">
    <div class="col">
        <div class="text-center">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
</div>

<!-- list -->
<div class="row" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()">
    <div *ngFor="let character of characters" class="col-6 col-sm-3 col-md-3 col-lg-2 mb-3">
        <div class="card bg-dark text-white">
            <img [src]="getImage(character)" class="card-img">
            <div class="card-img-overlay">
                <h5 class="card-title">{{character.name}}</h5>
            </div>
        </div>
    </div>
</div>