@import './../../../assets/scss/variables.scss';

.input-group {
    .input-group-text {
        background-color: #ddd;
        border: none;
        border-radius: $border-radius;
    }
    .input-group-text:first-child {
        margin-right: 1px;
        padding-right: 0;
    }
    .form-control {
        background-color: #ddd;
        border: none;
        margin-left: 0px;
        border-radius: $border-radius;
    }
}

.offcanvas-bottom {
    height: 70vh;
    border-radius: $border-radius;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    .offcanvas-header {
        padding: 0;
    }
    .offcanvas-body {
        margin-top: 1rem;
        padding-top: 0;
    }
    .img-character {
        margin-top: -150px;
        border-radius: $border-radius;
    }
    .btn-close {
        position: absolute;
        right: 15px;
        top: 15px;
    }
}