@import './../../../assets/scss/variables.scss';

.input-group {
    .input-group-text {
        background-color: #ddd;
        border: none;
        margin-right: 1px;
        padding-right: 0;
        border-radius: $border-radius;
    }
    .form-control {
        background-color: #ddd;
        border: none;
        margin-left: 0px;
        border-radius: $border-radius;
    }
}

.offcanvas-bottom {
    height: 70vh;
    border-radius: $border-radius;

    .offcanvas-header {
        padding: 0;
    }
    .img-character {
        margin-top: -150px;
        border-radius: $border-radius;
    }
    .btn-close {
        position: absolute;
        right: 10px;
        top: 10px;
    }
}