@import './../../../assets/scss/variables.scss';

.offcanvas-bottom {
    height: 70vh;
    border-radius: $border-radius;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    .offcanvas-header {
        padding: 0;
    }
    .offcanvas-body {
        margin-top: 1rem;
        padding-top: 0;
    }
    .img-character {
        margin-top: -150px;
        border-radius: $border-radius;
    }
    .btn-close {
        position: absolute;
        right: 15px;
        top: 15px;
    }
}