<div class="container my-5">
    <div class="row">
        <div class="col">
            <h1 class="mb-4">Marvel App</h1>
        </div>
    </div>
    <div class="row">
        <div *ngFor="let character of characters" class="col-6 col-sm-2 mb-3">
            <div class="card bg-dark mb-3 h-100">
                <img [src]="getImage(character)" class="card-image-top rounded">
                <div class="card-body">
                    <h5 class="card-title text-center">{{character.name}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>