<div class="container my-5">
    <div class="row">
        <div class="col">
            <p class="text-white">&copy; Copy Rights and Data owned by <a class="text-white"
                    href="https://developer.marvel.com/" target="_blank">Marvel</a>.</p>
        </div>
        <div class="col">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/about']" [routerLinkActive]="['active']">
                        About
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/characters']" [routerLinkActive]="['active']">
                        Character
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/comics']" [routerLinkActive]="['active']">
                        Comics
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/events']" [routerLinkActive]="['active']">
                        Events
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/series']" [routerLinkActive]="['active']">
                        Series
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/stories']" [routerLinkActive]="['active']">
                        Stories
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>