@import './../../../../assets/scss/variables.scss';

.container-logo {
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        padding: 3px;
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase;
    }

    img {
        height: 35px;
    }
    span {
        padding: 0 5px;
        background-color: $color-white;
        color: $color-primary;
        border-radius: 2px;
        margin: 0 5px;
    }
}