<div class="container pb-5 pt-3 mb-0 mb-sm-5 mt-0 mt-sm-5">
    <div class="row">
        <div class="col text-white text-center">
            <div class="container-logo">
                <div>
                    <img src="./assets/imgs/angular.svg" alt="">
                </div>
                <div>+</div>
                <div><span>Marvel API</span></div>
            </div>
            <h1 class="display-1 text-uppercase">NgMarvel</h1>
            <h6>{{subTitle | uppercase}}</h6>
        </div>
    </div>
</div>