/* You can add global styles to this file, and also import other style files */
@import "./assets/scss/variables.scss";

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

.display-1 {
    font-size: calc(1.925rem + 4.5vw);
}
.nav-link {
    text-align: center;
}

.card {
    cursor: pointer;
    border-radius: $border-radius;
    border: none;
    overflow: hidden;

    .card-body {
        padding-bottom: 0;

        .card-title {
            font-size: 1.05rem;
        }
    }
    .card-image-top {
        border: none;
        border-radius: $border-radius;
        margin: -3px;
    }
    .card-img,
    .card-img-overlay {
        border: none;
        border-radius: $border-radius;
        background: linear-gradient(-0deg, rgba(0, 0, 0, 0.9) 0%, rgba(255, 255, 255, 0.1) 50%);
        display: flex;
        align-items: flex-end;
    }
    .card-img-overlay {
        padding: 0.75rem;
        .card-title {
            font-size: 1.05rem;
            margin: 0;
        }
    }
    .card-img {
        transition: transform .2s; /* Animation */
    }
    &:hover {
        .card-img {
            transform: scale(1.25);
        }
    }
}

.modal {
    transition: transform .1s ease-in-out;
    transform: translateY(100%);

    &.show {
        transform: none;
    }

    .btn-close {
        position: absolute;
        right: 15px;
        top: 15px;
        opacity: 1;
    }

    .modal-dialog {
        margin: 0;
        margin-top: 200px;
        width: 100%;
        max-width: none;
        min-height: 600px;

        .modal-content {
            border-radius: $border-radius;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            min-height: 600px;

            .modal-header {
                padding: 0;
                border: none;
            }

            img {
                margin-top: -150px;
                border-radius: $border-radius;
            }
            img.portrait {
                margin-top: -230px;
            }

            @media (max-width: 768px) {
                img.portrait {
                    margin-top: -180px;
                    width: 200px;
                }
            }
        }
    }
}

.offcanvas-bottom {
    height: 70vh;
    border-radius: $border-radius;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    .offcanvas-header {
        padding: 0;
    }
    .offcanvas-body {
        margin-top: 1rem;
        padding-top: 0;
    }
    img {
        margin-top: -150px;
        border-radius: $border-radius;
    }
    img.portrait {
        margin-top: -230px;
    }
    .btn-close {
        position: absolute;
        right: 15px;
        top: 15px;
    }

    @media (max-width: 768px) {
        img.portrait {
            margin-top: -180px;
            width: 200px;
        }
    }
}